doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="css/styles.css" rel="stylesheet")
    block title
      title Default Page Title
  body
    block content
  script(src="lib/jquery/dist/jquery.min.js")
  script(src="js/scripts.js")
  script(src="//localhost:35729/livereload.js")
